body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background:linear-gradient(130deg, #423379, #e9d3f2)
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 50px 0;
  
}

#hero {
  background-color: #f4f4f4;
  background-image:url(https://www.shutterstock.com/image-vector/online-education-hand-drawn-seamless-260nw-1777262141.jpg);
  text-align: center;
}

#hero h2 {
  margin-bottom: 20px;
  color:white ;
  background-size: cover;
  background-position: center;
  min-height: 8px;
  width: 100%;
  
}
#hero p{
  color: white;
}

.btn {
  display: inline-block;
  background-color: rgb(98, 98, 98);
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}
.btn:hover{
  background-color: black;
}

.course {
  text-align: center;
  margin-bottom: 30px;
  overflow: hidden;
}

.course img {
  max-width: 100%;
  transition: transform 0.5s ease-in-out;
}
.course img:hover{
  transform: scale(1.1);
}
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.form{
  display:flex;
  justify-content: space-around;
  align-items: center;
}
